<a href="https://colab.research.google.com/github/PapuFuerte/curso_python/blob/main/Curso_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso Python

## `Python` basico

### `Variables`

Las variables son espacios de memoria que asignamos con nombres o letras.

En python es la relación que existe entre un nombre y un objeto

In [ ]:
x = 1
nombre = 'Guido Van Rossum'
x,nombre

(1, 'Guido Van Rossum')

#### Restricciones para crear variables
* No puede comenzar por caracteres especiales
* No puede empezar por algún número
* No se puede llamar igual que una palabra reservada en python
* No puede contener espacios


Tipos de sintaxis validas para crear variables dentro de python
* `camelCase`: `nombreVariable`
* `PascalCase`: `NombreVariable`
* `snake_case`: `nombre_variable`
* `kebeb-case`: `nombre-variable`

No es un standar pero se recomienda lo siguiente para cada tipo de dato que manejaremos

* Variables : `camelCase`
* Funciones : `snake_case`
* Objetos : `PascalCase`

### Palabras claves dentro de `python`
Son palabras reservadas por el lenguaje y que se recomienda no usar bajo ninguna circunstancia.

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Zen de python
El siguiente codigo nos ayuda a ver el zen de python, que basicamente son las reglas que se deben de seguir para programar.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Declarando multiples variables

Este sirve para nosotros declarar una variable en una misma línea.

In [ ]:
a,b,c = 1,2,3
suma = None
suma = a + b + c
suma

6

### Operaciones con variables númericas

In [ ]:
a = 4
a + 1

5

In [ ]:
y = a + 4
y

8

In [ ]:
y = y + 4
y

24

In [ ]:
y += 4
y

32

### Como hacer comentarios
Para nosotros haceer un comentario ocupamos la almohadilla o numeral `#`

In [ ]:
# esto será un hola 
z = 'Hola'
# esto no se ejecuta pero debajo ponemos z
z
# esto si se imprime

'Hola'

Los comentarios sirven para nosotros poder ejecutar, pero igual no se recomienda abusar de ellos, ya que esto puede ser una desventaja en vez de una ayuda.

### Función `import`
esta nos ayuda a importar las librerías necesarias para poder ejecutar nuestro codigo dependiendo su complejidad.

In [ ]:
import math
print('imprimiendo pi:', math.pi)

imprimiendo pi: 3.141592653589793

In [ ]:
print('imprimiendo numero e:',math.e)

imprimiendo numero e: 2.718281828459045

importando la misma librería pero cambiando el nombre de la misma

In [ ]:
import math as mt
print('imprimiendo pi:' , mt.pi)

imprimiendo pi: 3.141592653589793

Imprimiendo solamente una función de nuestra librería

In [ ]:
from math import pi as p
print("Valor numero pi:",p)

Valor numero pi: 3.141592653589793

cargando diferentes funciones

In [ ]:
from math import pi as p, log as l, exp as ex

print(p,l(10),ex(1))

3.141592653589793 2.302585092994046 2.718281828459045

In [ ]:
from math import *
print(log(10))

2.302585092994046

## string en `Python`
Cadena de caracteres dentro de python

In [ ]:
s1 = "Esto es un string de comilla doble"
type(s1)

str

In [ ]:
s2 = 'Esto es un string de comilla simple'
type(s2)

str

In [ ]:
"imprimiendo los dos strings:",s1,s2

('imprimiendo los dos strings:',
 'Esto es un string de comilla doble',
 'Esto es un string de comilla simple')

In [ ]:
'Citando a Carlos: "Yo creo que python es facil"'

'Citando a Carlos: "Yo creo que python es facil"'

**nota:** Evita los acentos

### Strings Literals

* `\\`: imprime una barra
* `\n`: imprime un salto de linea
* `\" or \'`: imprime dentro de un string la comilla
* `\t`: tabulador
* `\r`: salto de carro

In [ ]:
# imprimir comillas dobles desde comillas dobles
s1 = "Carlos dijo: \"Yo quiero una soda de limón\""
s1

'Carlos dijo: "Yo quiero una soda de limón"'

In [ ]:
print("Hola mi nombres es: \fMarcos Eduardo")

Hola mi nombres es: Marcos Eduardo

In [ ]:
s1 = 'Guido dijo: "Es mejor bello que feo"'
s2 = "Guido dijo: \"Es mejor bello que feo\""
print(s1,"\n",s2)

Guido dijo: "Es mejor bello que feo"
 Guido dijo: "Es mejor bello que feo"

### Concatenando `strings`

In [ ]:
s1 = 'Hola mundo'
s2 = 'Bienvenido seas Guido'

In [ ]:
print(s1 + s2)
print(s1,s2)

Hola mundoBienvenido seas Guido
Hola mundo Bienvenido seas Guido

con el simbolo de `+` lo que hace es agregarlo uno seguido de otro

con el simbolo de `,` lo que hace es agregarlo uno espacio y otro

In [ ]:
s1 = 'Bienvenido seas     '
s2 = 'a mi curso de python'
s1 + s2

'Bienvenido seas     a mi curso de python'

El número de espacios declarados se va a respetar.

### Repetición de `string`

In [ ]:
s1 = "hola "
s1 * 5

'hola hola hola hola hola '

In [ ]:
print('hola\n'*5)

hola
hola
hola
hola
hola

In [ ]:
print("Bart Simpson\t" * 5)
print("Bart Simpson\t" * 5)
print("Bart Simpson\t" * 5)

Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson
Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson
Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson	Bart Simpson

In [ ]:
s1 = '\t¿Hemos llegado?' * 10
print(s1)

	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?	¿Hemos llegado?

In [ ]:
s1 = 7 * ' ¡Ya llegamos!'
s1

' ¡Ya llegamos! ¡Ya llegamos! ¡Ya llegamos! ¡Ya llegamos! ¡Ya llegamos! ¡Ya llegamos! ¡Ya llegamos!'

In [ ]:
s1 = '¡Feliz Cumpleaños! ' * 5
s1

'¡Feliz Cumpleaños! ¡Feliz Cumpleaños! ¡Feliz Cumpleaños! ¡Feliz Cumpleaños! ¡Feliz Cumpleaños! '

### Función `print()`

In [ ]:
print("Hola, soy un print")

Hola, soy un print

In [ ]:
s = 'Hello world, by Dennis Ritchie'
s

'Hello world, by Dennis Ritchie'

In [ ]:
print(s.upper())

HELLO WORLD, BY DENNIS RITCHIE

In [ ]:
print(s.center(60,'=').title())

===============Hello World, By Dennis Ritchie===============

In [ ]:
x = 'vivo en la Ciudad de México'
x

'vivo en la Ciudad de México'

In [ ]:
print(x)

vivo en la Ciudad de México

In [ ]:
name = 'Don Hilario'
print('¡Buenos días, '+name+'!')

¡Buenos días, Don Hilario!

#### Usando `coma [,]` en vez del simbolo de `suma +`

In [ ]:
name = 'Guido Van Rossum'
print("¡Buenos días",name,'!')

¡Buenos días Guido Van Rossum !

### Ejercicio Concatenación

In [ ]:
# Cumpleaños feliz, cumpleaños feliz, te deseamos todos, cumpleaños feliz
s1 = '¡Cumpleaños feliz!'
s2 = 'Te deseamos todos'

print((s1 + '\n' )* 2 + s2+ ',\n' + s1 )

¡Cumpleaños feliz!
¡Cumpleaños feliz!
Te deseamos todos,
¡Cumpleaños feliz!

función `str()`

In [ ]:
name = 'María'
edad = 22
print('Mi hermana se llama ' + name + ' y tiene ' + str(edad) + ' años de edad')

Mi hermana se llama María y tiene 22 años de edad

método `.format()`

In [ ]:
name = 'Rigoberto'
edad = 33

print('{} tiene la edad de cristo que es {}'.format(name,edad))

Rigoberto tiene la edad de cristo que es 33

In [ ]:
s3 = 'Hoy Messi se consagro como el más grande\nEsto lo llevará a ganar un mundial'
print(s3)

Hoy Messi se consagro como el más grande
Esto lo llevará a ganar un mundial

### `Substrings`
Los `substrings` son una extracción o una subposición de un string, en python los strings comienzan con 0 en sus indices.

In [ ]:
s="soy un programador de python"
s[0]

's'

In [ ]:
s[1:3]

'oy'

In [ ]:
s[-1]

'n'

`[a:b]` es una sintaxis que nos ayuda a extraer información dentro de nuestros string

In [ ]:
s[4:7]

'un '

In [ ]:
s="Marcos Eduardo"
s[:6]

'Marcos'

In [ ]:
s[7:]

'Eduardo'

In [ ]:
s[7:-1]

'Eduard'

In [ ]:
equipo = "Fc Barcelona"
equipo[-9:],equipo[3:]

('Barcelona', 'Barcelona')

In [ ]:
s="mi nombre es guido van rossum"
s[13:].upper()

'GUIDO VAN ROSSUM'

In [ ]:
s[13:].title()

'Guido Van Rossum'

In [ ]:
s[13:].capitalize()

'Guido van rossum'

### Métodos para uso de strings 
* `.lower()`:todo se va a minusculas
* `.upper()`: esté lo que hace es cambiar todo el string a mayusculas
* `.count()`: realiza el conteo de alguna letra que le pasemos por parametro
* `.capitalize()`: la primer letra de nuestro string la lleva a mayúscula
* `.title()`: lleva la primer letra de cada palabra a mayúsculas
* `.swapcase()`: Convierte las mayusculas en minusculas y viceversa
* `.replace(a,b)`: cambia la palabra por otra
* `.split()`: separa el string por el caracter que le idiquemos
* `.strip()`: elimina los espacios sobrantes
* `.find("a")`: encuentra algún valor y nos devuelve la información de donde esta 
* `.index("z")`: funciona igual que find, la diferencia yace en que find si no la encuentra devuelve -1 e index rompe la ejecución
* `.rindex("a")`: nos devuelve la ultima coincidencia dentro de nuestro string
* ``:
* ``:

In [ ]:
#usando lower
s="MI NOMBRE ES MARCOS"
s = s.lower()
s

'mi nombre es marcos'

In [ ]:
s= s.upper()
s

'MI NOMBRE ES MARCOS'

In [ ]:
s.count("nom".upper())

1

In [ ]:
equipo = "FC Barcelona"
equipo.capitalize()

'Fc barcelona'

In [ ]:
equipo.title()

'Fc Barcelona'

In [ ]:
nombre = "mi nombre es MARCOS EDUARDO Fuerte Cruz"
nombre.swapcase()

'MI NOMBRE ES marcos eduardo fUERTE cRUZ'

In [ ]:
s = "Entre vos y yo, existe algo magico"
s = s.replace("vos","tu")
s

'Entre tu y yo, existe algo magico'

In [ ]:
user = "1|FUCM940227|Marcos Eduardo Fuerte Cruz|Ingeniero en computación|"
lista = user.split("|")
lista

['1',
 'FUCM940227',
 'Marcos Eduardo Fuerte Cruz',
 'Ingeniero en computación',
 '']

In [ ]:
espacios = "                 Hola mi tio como estas         "
espacios.strip()

'Hola mi tio como estas'

In [ ]:
espacios.rstrip()

'                 Hola mi tio como estas'

In [ ]:
espacios.lstrip()

'Hola mi tio como estas         '

In [ ]:
s = "Hola soy un programador en python y estoy tratando de mejorar mucho"
s.find("tratandso")

-1

In [ ]:
s = "Hola soy un programador en python y estoy tratando de mejorar mucho"
s.index("tratandso")

ValueError: ignored

en find e index podemos indicar inicio y fin

In [ ]:
s

'Hola soy un programador en python y estoy tratando de mejorar mucho'

In [ ]:
s.find("programador",20)

-1

In [ ]:
s.index("programador",9)

12

In [ ]:
s.index("pro",4)

12

In [ ]:
s = "python es el mejor lenguaje del mundo, python es fácil y rapido, te amo python"
s.rindex("python")

72

In [ ]:
s[72:]

'python'

In [ ]:
nombre = "Marcos Eduardo"
len(nombre)

14

In [ ]:
numero = "2"
type(numero)

str

In [ ]:
numero = int(numero)
type(numero)

int

In [ ]:
numero ** 2

4

In [ ]:
print("Introduce tu nombre: ")
name = input()

Introduce tu nombre:
Marcos

In [ ]:
f'tu nombre es {name}'

'tu nombre es Marcos'

In [ ]:
age = int(input("Danos tu edad: "))
height = float(input("Danos tu estatura: "))
print(f'Hola, tu edad es: {age} y mides {height} cm')

Danos tu edad: 28
Danos tu estatura: 180
Hola, tu edad es: 28 y mides 180.0 cm

In [ ]:
s = ","
print(f'el {s} es un valor de ascii: ', "verdadero" if s.isascii() == True else "Falso")

el , es un valor de ascii:  verdadero

### Ejercicio substring
Dado un string, vamos a pedir al usuario que introduzca una palabra perteneciente a dicho string y vamos a obtener el substring sin la palabra indicada por el usuario utilizando el metodo `.find()` y la función `len()`

In [ ]:
string = "Mi nombre es Marcos Eduardo, y soy ingeniero en computación y no arreglo computadoras"
print(f"Este es tu string original: {string}")
palabra = str(input("introduce la palabra que quieras eliminar del string original\n\tPalabra: "))
string.find(palabra), len(palabra)
idx = string.find(palabra)
substring = string[:idx] + string[(idx + len(palabra)) + 1:]
substring

Este es tu string original: Mi nombre es Marcos Eduardo, y soy ingeniero en computación y no arreglo computadoras
introduce la palabra que quieras eliminar del string original
	Palabra: Marcos Eduardo

'Mi nombre es  y soy ingeniero en computación y no arreglo computadoras'

### Ejercicio 2 substring
Del ejercicio cumpleaños feliz, vamos a permitir que el usuario elija a quien va dirigida la canción

In [ ]:
s1 = "¡Cumpleaños feliz!"
s2 = "Te deseamos todos"
name = input("A quien va la canción: ")
song = (s1 + '\n') * 2 + s2.replace("todos",name + ",\n" + s1)
print(song)

A quien va la canción: María
¡Cumpleaños feliz!
¡Cumpleaños feliz!
Te deseamos María,
¡Cumpleaños feliz!

In [ ]:
s1 = "¡Cumpleaños feliz!"
s2 = "Te deseamos"
name = input("A quien va la canción: ")
song = (s1 + '\n') * 2 + (s2 +" " + name.capitalize()) + '\n' + s1
print(song)

A quien va la canción: TINAJAS
¡Cumpleaños feliz!
¡Cumpleaños feliz!
Te deseamos Tinajas
¡Cumpleaños feliz!

### Ejercicio
1. Devolver la palabra en mayúscula
1. Devolver la frase con todas las palabras empezando en mayuscula
1. Devolver la palabra (con 3 o más letras) con tolas las letras en minúsculas salvo la tercera letra
1. Devolver la palabra con todas las letras en mayúsculas salvo la primera y la última
1. Devolver la frase donde cada vez que aparezcan las dos primeras letras de la priemra palabra, sean substituidas por culaquiera otras dos letras.

In [ ]:
# 1
s = input('Danos una palabra:')
s.upper()

Danos una palabra:marcos eduardo

'MARCOS EDUARDO'

In [ ]:
s = input('Danos una frase:')
s.title()

Danos una frase:anita lava la tina, mi mamá me mima esa es mi mamá

'Anita Lava La Tina, Mi Mamá Me Mima Esa Es Mi Mamá'

In [ ]:
s = input('Danos una palabra: ')
s = s[:2].lower() + s[2].upper() + s[3:].lower()
s

Danos una palabra: Nuestro perro es pequeño

'nuEstro perro es pequeño'

In [ ]:
s = input("Danos una palabra: ")
s_inicio = s[0].lower()
s_final = s[-1].lower()
s = s_inicio + s[1:-1].upper() + s_final
print(f'Tu frase es : {s}')

Danos una palabra: leticia
Tu frase es : lETICIa

In [ ]:
s = input("Danos una frase")
letra1 = s[0]
letra2 = s[1]
s1 = s.replace(letra1,"$")
s1 = s1.replace(letra2,"%")
print(f"Frase original: {s}\nNueva frase: {s1}")

Danos una fraseLeticia
Frase original: Leticia
Nueva frase: $%ticia

### Ejercicio
Pedir al usuario su año de nacimiento y el año actual y le vamos a imprimir su edad

In [ ]:
nacimiento = int(input('Danos tu año de nacimiento: '))
anio_actual = int(input('Danos el año actual: '))

if nacimiento > anio_actual:
    print("No se pueden hacer calculos negativos")
else:
    edad = anio_actual - nacimiento
    print(f'Hola nos hemos enterado que tienes {edad} años de edad')

Danos tu año de nacimiento: 1994
Danos el año actual: 2022
Hola nos hemos enterado que tienes 28 años de edad

## Condicionales

In [ ]:
x = 1
y = -1
y < x

True

In [ ]:
x < y

False

In [ ]:
adulto = True
edad = int(input("Danos tú edad: "))

if edad >= 18:
    print("Es adulto: ",adulto)
else:
    adulto = False
    print("Es adulto: ",adulto)

Danos tú edad: 12
Es adulto:  False

In [ ]:
a = True
(f"a es verdadera: {not a}")

'a es verdadera: False'

In [ ]:
a = int(input('1. True\n2.False\n\tOpción. '))
decision = None
if a == 1:
    decision = True   
else:
    decision = False

print("Tu escogiste:",decision)

1. True
2.False
	Opción. 1
Tu escogiste: True

In [ ]:
a = True
not a

False

In [ ]:
b = False
not b

True

In [ ]:
a,b = True, False
a and b

False

In [ ]:
a or b

True

In [ ]:
a and (not b)

True

In [ ]:
a or (not b)

True

In [ ]:
b or (not a)

False

### Operadores de comparación

* `>`: mayor que
* `>=`: mayor o igual que
* `<`: menor que
* `<=`: menor o igual que
* `==`: igual
* `!=`: diferente

In [ ]:
a = 1
b = 1

print(f'Mayor que: {a>b}')
print(f'Mayor o igual que: {a>=b}')
print(f'Menor que {a<b}')
print(f'Menor o igual que: {a<=b}')
print(f'Igual: {a == b}')
print(f'Diferente:  {a != b}')

Mayor que: False
Mayor o igual que: True
Menor que False
Menor o igual que: True
Igual: True
Diferente:  False

In [ ]:
# Ejercicio, mayor de edad
age = int(input("Danos tu edad:"))

print("Hola eres mayor de edad" if age >= 18 else "no eres mayor de edad mi tio")

Danos tu edad:18
Hola eres mayor de edad

### Comparaciones simultaneas

In [ ]:
edad = 17

(edad >= 16) and (edad <= 40)

True

In [ ]:
nombre = "Marcos Eduardo"

(nombre[-2:] == 'os') or (nombre[:2] == 'Ed')

False

In [ ]:
# Montaña rusa 5 dolares y mas de 170
dinero = float(input("Cuanto dinero tienes  "))
altura = float(input("Tu estatura es de  "))
print(f'Me puede subir: {(dinero >= 5) and (altura > 170)}')

Cuanto dinero tienes  5
Tu estatura es de  170
Me puede subir: True

### Comparaciones entre strings

In [ ]:
"Marcos" == "marcos"

False

In [ ]:
7 == "7"

False

In [ ]:
7 == 7.0

True

In [ ]:
"Madrid" < "Mallorca"

True

In [ ]:
"Ecatepec" < "Nezahualcoyotl" #

True

In [ ]:
"España" == "Madrid"

False

In [ ]:
"España" <= "Madrid" # españa esta antes que madrid si, porque la E es primero

True

### Métodos de comparación para `Strings`
* `.startswith(parametro)`: si empieza por alguna letra o palabra
* `.endswith(parametro)`: si termina con una letra o palabra
* `.isalnum()`: si es alfanumerico
* `.isalpha()`: si es alfabetico
* `.isdigit()`: si es un digito númerico en base 10
* `.isspace()`: si es un espacio
* `.islower()`: si son minusculas
* `.isupper()`: si son mayusculas
* `.istitle()`: si las letras inciales de cada palabra vienen en mayuscula
* `.iscapitalize()`: si la primera viene en mayuscula
* `.isascii()`: nos da el formato de letras, numeros e iconos especiales
* ``:

In [ ]:
ciudad = "Ciudad de México"
ciudad.startswith("Ci")

True

In [ ]:
pais = 'Serbia'
pais.endswith('ia')

True

In [ ]:
id = '1000A1001'
id.isalnum()

True

In [ ]:
id = "aaa1010"
id.isalpha()

False

In [ ]:
id = "1002"
id.isdigit()

True

In [ ]:
id = "Hola $$"
id.isascii()

True

In [ ]:
id = 'Esto es un espacio'
id.isspace()

False

In [ ]:
id = " "
id.isspace()

True

In [ ]:
id = 'todo esto es minusculas'
id.islower()

True

In [ ]:
id = "Todo esto es mayusculas"
id.isupper()

False

In [ ]:
id = "Esto Esta Capitalizado"
id.istitle()

True

### IF

In [ ]:
color = 'verde'
color == 'verde'

True

In [ ]:
color == 'blue'

False

In [ ]:
edad = 19
if edad > 18:
    print("Eres mayor de edad")

Eres mayor de edad

In [ ]:
altura = 190
if altura > 170:
    print("Tu estatura esta arriba de la media en basquetball")

Tu estatura esta arriba de la media en basquetball

In [ ]:
age = int(input("Danos tu edad: "))

if ( 16 < age < 41):
    print("Puedes pertenecer al barco de pyratilla")

Danos tu edad: 17
Puedes pertenecer al barco de pyratilla

#### Ejercicio

Saber si un string contiene espacios

In [ ]:
s = "Hola mi nombre es Marcos"
c = " "
if c in s:
    print(f'El string tiene espacios y contiene {s.count(c)}')

El string tiene espacios y contiene 4

### IF ELSE

In [ ]:
is_adult = True
if is_adult:
    print("Eres adulto")
else: print("No eres adulto")

Eres adulto

In [ ]:
edad = int(input("Danos tu edad: "))
if 18 <= edad <=40:
    print("Eres joven - adulto")
else:
    print("No formas parte de estas generaciones")

Danos tu edad: 18
Eres joven - adulto

#### Ejercicio
Ecuaciones de primer grado

In [ ]:
A = float(input("Coeficiente A= "))
B = float(input("Coeficiente B= "))

if A != 0:
    sol = -B / A
    print(f"La solución es x = {sol}")
else:
    print('No hay ecuación que resolver porque A = 0')

Coeficiente A= 2
Coeficiente B= 2
La solución es x = -1.0

### IF ELIF ELSE

In [ ]:
age = int(input("Danos la edad:"))
if age < 20:
    etapa = "Juventud"
elif age < 40:
    etapa = "Madurez"
else:
    etapa = "Vejez"
print("Usted tiene {} años y esta en la etapa de {}".format(age,etapa))

Danos la edad:20
Usted tiene 20 años y esta en la etapa de Madurez

In [ ]:
age = int(input('Danos tu edad, recuerda que para entrar debes tener mas de 16 y menos de 40: '))
mensaje = str()
if age < 0:
    mensaje = "No valida"
elif age < 16:
    mensaje = "Tienes menos de 16 así que no puedes entrar"
elif age < 40:
    mensaje = "es una edad valida para pertencer, solo tienes que hacer una entrevista"
else:
    mensaje = "usted tiene mas de 40, ya no puede entrar"

if mensaje == 'No valida':
    print("Número no valido")
else:
    print(f"Tu edad es de {age} y {mensaje}")

Danos tu edad, recuerda que para entrar debes tener mas de 16 y menos de 40: -12
Número no valido

In [ ]:
age = int(input('Danos tu edad, recuerda que para entrar debes tener mas de 16 y menos de 40: '))
mensaje = str()

if age < 0:
    print("Numero invalido")
elif age > 15 and age < 41:
    print("Puedes pertenecer")
else:
    print("No puedes pertenecer")

Danos tu edad, recuerda que para entrar debes tener mas de 16 y menos de 40: 41
No puedes pertenecer

### Operador ternario

In [ ]:
condicion = True
print("Es verdadero" if condicion == True else "No es verdadero")

Es verdadero

In [ ]:
nombre = "Marcos Eduardo"
print("Tu nombre es muy largo" if len(nombre) > 10 else "Es un nombre corto")

Tu nombre es muy largo

#### Mayoria de edad con ternario

In [ ]:
mayoria_edad = 18
edad = int(input("Danos tu edad:"))
mensaje1 = "Eres mayor de edad"
mensaje2 = "No eres mayor de edad"

print(mensaje1 if edad >= mayoria_edad else mensaje2)

Danos tu edad:12
No eres mayor de edad

### Ejercicio Ternario
par o impar

In [ ]:
numero = int(input("Danos tu numero: "))
par = f"Tu numero es un par {numero}"
impar = f"Tu numero es un impar {numero}"

print(par if numero%2==0 else impar)

Danos tu numero: 1234
Tu numero es un par 1234

In [ ]:
x = float(input("x: "))
y = float(input("y: "))

if (x >= 0 and x <= 1) and (y >= 0 and y <= 1):
    print("el punto ({},{}) SI pertenece".format(x,y))
else:
    print("el punto ({},{}) NO pertenece".format(x,y))

x: .1
y: .4
el punto (0.1,0.4) SI pertenece

In [ ]:
edad = int(input('age: '))
nombre = str(input('name: '))

if edad >= 18:
    if nombre.startswith('M') or nombre.startswith('m'):
        print(f'Tu edad es de {edad} y tu nombre {nombre} empieza por M')
    else:
        print(f'Eres mayor de edad {edad}, pero no cumples con la validación del nombre')
else:
    print("No eres mayor de edad")

In [ ]:
# pasar segundos a minutos y horas
vueltas = int(input("Cuantas vueltas diste: "))
minutos = float(input("Cuantos minutos corriste: "))
distancia = vueltas * 400
tiempo_por_vuelta = distancia/(minutos * 60)  
print((tiempo_por_vuelta/60 * 100))

Cuantas vueltas diste: 10
Cuantos minutos corriste: 35
3.1746031746031744

#### Ejercicio
Años biciesto es si es multiplo de 4, pero no es multiplo 100 a no ser que sea 400

In [ ]:
anio = int(input('Danos el año '))

if anio%4==0:
    if anio % 100==0:
        if anio % 400==0:
            print(f'El año {anio} es biciesto')
        else:
            print(f'el año {anio} no es biciesto')

    else: 
        print(f'El año {anio} es biciesto ')
else:
    print(f'el año {anio} no es biciesto')

Danos el año 1993
el año 1993 no es biciesto

## Bucles de iteración 
Aquí veremos los bucles para saber como funcionan tanto while como for

### `While`
su traducción literal es decir mientras se cumple una condición ejecuta lo siguiente.

mientra a sea menor a 10 : `while a < 10`

mientras a <= 'z': `while a <= 'z'`

In [ ]:
# while
a = 0
while a < 10:
    print("Hola ",end="")
    a += 1

Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola

In [ ]:
 a = 0
 while a < 11:
     print(a)
     a += 1
else: print("Bucle while terminado")

0
1
2
3
4
5
6
7
8
9
10
Bucle while terminado

In [ ]:
frase = str(input('frase: '))
frase = frase.lower()
len_frase = len(frase)
a = 0
contador_vocales = 0
while a < len_frase:
    if frase[a] == 'a' or frase[a] == 'e' or frase[a] == 'i' or frase[a] == 'o' or frase[a] == 'u':
        contador_vocales += 1
    
    a += 1

print(f'Tu frase {frase} tiene {contador_vocales} vocales')

frase: Marcos Eduardo Fuerte Cruz
Tu frase marcos eduardo fuerte cruz tiene 10 vocales

### `While - Break`

In [ ]:
# Fibonacci
a = 0
b = 1 
c = 0
while a < 1000:
    print(a)
    a = b + c
    b = c
    c = a

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

Creando una función para un bucle while y poder ocupar fibonacci

In [ ]:
def fibonacci(n):
    a,b,c = 0,1,0
    while a < n:
        print(f'{a} ',end='')
        a = c + b
        b = c
        c = a
        if a == 144:
            print("la lista tiene un elemento que no puede continuar")
            break
    else:
        print("Bucle finalizado")

fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 la lista tiene un elemento que no puede continuar

In [ ]:
fibonacci(10)

0 1 1 2 3 5 8 Bucle finalizado

### Ejercicio bucle `while`

encontrar el primer numero que sea divisible entre 2, 3 y 5

In [ ]:
a = int(input("Danos el extremo inferior:"))
b = int(input("Danos el extremo superior:"))
n = a
while a <= b:
    if a%2==0 and a%3==0 and a%5==0:
        print(f"El número {a} es divisible entre 2,3,5")
        break
    a += 1
else:
    print(f"Ningún número es divisible entre 2,3,5 de tu intervalo [{n},{b}]")

Danos el extremo inferior:31
Danos el extremo superior:59
Ningún número es divisible entre 2,3,5 de tu intervalo [31,59]

### `while - else`
similar a la forma de usar if else, este te envía un mensaje cuando se cumple el bucle

In [ ]:
a = 1
while a < 10:
    print("Hola")
    a += 1
else: print("Este es el final del bucle while")

Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Este es el final del bucle while

In [ ]:
a = 10
while a >= 1:
    print(a)
    a -= 1
else:
    print("Listo para el despegue...!")

10
9
8
7
6
5
4
3
2
1
Listo para el despegue...!

In [ ]:
suma = 0
a = 'a'
while a != 0:
    a = int(input('Número a sumar, [digita 0 para terminar suma]: '))
    suma += a
else:
    print("El valor de la suma es: {}".format(suma))

Número a sumar, [digita 0 para terminar suma]: 1
Número a sumar, [digita 0 para terminar suma]: 0
El valor de la suma es: 1

### Ejercicio `while - else`

In [ ]:
# 65 AL 90

n = int(input('Danos el valor de la rotación. '))
i = 65 # vale 65 porque aqui empieza el abcdario 

while i < 91:
    if i + n < 91:
        print(f'{chr(i)} : {chr(i + n)}')
    else:
        print(f'{chr(i)} : {chr((i-26) + n)}')
    i += 1

Danos el valor de la rotación. 10
A : K
B : L
C : M
D : N
E : O
F : P
G : Q
H : R
I : S
J : T
K : U
L : V
M : W
N : X
O : Y
P : Z
Q : A
R : B
S : C
T : D
U : E
V : F
W : G
X : H
Y : I
Z : J

### For
La idea del bucle for es: para todos los elementos de la clave, continuamos iterando hasta el final del mismo.

In [ ]:
for _ in range(10):
    print(_,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
lista = list(range(10))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for l in lista:
    print(l)

0
1
2
3
4
5
6
7
8
9

In [ ]:
s = 'Me gustan las matematicas'
for c in s:
    print(c.upper(), end=" ")

M E   G U S T A N   L A S   M A T E M A T I C A S

In [ ]:
# invirtiendo un string
s = 'Se van sus naves'
def invertirFrase(s):
    s_inv = ""
    for c in s:
        s_inv = c + s_inv # aquí al poner c antes de s_inv lo que hacemos es concatenarlo por la izquierda
    print(s_inv)

In [ ]:
invertirFrase('Se van sus naves')
invertirFrase('Anita lava la tina')

sevan sus nav eS
anit al aval atinA

### `For Range`
le asignamos con range un rango de datos dentro del `for`

* `start`: comienza en
* `stop`: termina en
* `step`: saltos de

```
for elemento in range(start,stop,step):
    print(elemento)

for i in range(1,10,1):
    print(i)

# Aquí nos imprimirá de 1 en 1 hasta el 9, de está manera podemos hacer un bucle, no es necesario poner todos
```

In [ ]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
for i in range(0,20,2):
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18

In [ ]:
lista = 1,2,3,4,5
for i in lista:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(3,13,3):
    print(i,end=' ')

3 6 9 12

In [ ]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [ ]:
# tambien se puede hacer a la inversa
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

### Ejercicio bucle `for - range`

In [ ]:
a0 = int(input('Danos el primer termino: '))
d = int(input('Diferencia: '))
af = int(input('Danos la cota:'))
suma = 0

for an in range(a0,af+1,d):
    suma += an
    print(an,end=' ')
else:
    print(f'La suma de la sucesión es de: {suma}')

Danos el primer termino: 0
Diferencia: 2
Danos la cota:8
0 2 4 6 8 La suma de la sucesión es de: 20

### `for continue`
es muy parecido al break, en vez de interrupir, lo que hace es saltarse la indicada y seguir

In [ ]:
for i in range(1,101):
    if i % 2 == 0 or i % 5 == 0:
        continue
    else:
        print(i,end=' ')

1 3 7 9 11 13 17 19 21 23 27 29 31 33 37 39 41 43 47 49 51 53 57 59 61 63 67 69 71 73 77 79 81 83 87 89 91 93 97 99

### Ejercicio `for continue`
Elimina una letra de un string

In [ ]:
s = str(input('Danos un string:'))
letter = str(input('Que letra quieres eliminar: '))
for c in s:
    if c == letter:
        continue
    else:
        print(c,end=' ')

Danos un string:Lavar me da igual siempre y cuando seas ordenado
Que letra quieres eliminar: o
L a v a r   m e   d a   i g u a l   s i e m p r e   y   c u a n d   s e a s   r d e n a d

### Ejercicio for break continue
Dado un `string`, con un bucle `for` vamos a imprimirlo sin vocales y vamos a salir del mismo si l letra que indica el usuario aparece mas de n veces, número también dado por el usuario

In [ ]:
# s = str(input('Danos un string: '))
s = 'pensamos demasiado y sentimos muy poco'
s = s.lower()
letter = str(input('Que letra quieres eliminar: '))
letter = letter.lower()
n = int(input('Cuantas veces tiene que aparecer para detener el bucle: '))
count = 0

for c in s:
    if c == 'a' or c == 'e' or c == 'i' or c == 'o' or c == 'u':
        continue
    if c == letter:
        count += 1
        if count >= n:   
            break
            print('\nSe ha superado el número de veces de la letra')
    print(c,end='')

Que letra quieres eliminar: s
Cuantas veces tiene que aparecer para detener el bucle: 4
pnsms dmsd y

In [ ]:
for i in range(1,11):
    print(f'Tabla de multiplical del número {i}'.center(60,'='))
    for j in range(1,21):
        print(f'{i} x {j} : {i*j}'.center(60,' '))
    print('\n')

=============Tabla de multiplical del número 1==============
                         1 x 1 : 1
                         1 x 2 : 2
                         1 x 3 : 3
                         1 x 4 : 4
                         1 x 5 : 5
                         1 x 6 : 6
                         1 x 7 : 7
                         1 x 8 : 8
                         1 x 9 : 9
                        1 x 10 : 10
                        1 x 11 : 11
                        1 x 12 : 12
                        1 x 13 : 13
                        1 x 14 : 14
                        1 x 15 : 15
                        1 x 16 : 16
                        1 x 17 : 17
                        1 x 18 : 18
                        1 x 19 : 19
                        1 x 20 : 20


=============Tabla de multiplical del número 2==============
                         2 x 1 : 2
                         2 x 2 : 4
                         2 x 3 : 6
                         2 x 4 : 8
                         2 x 5 : 10
                         2 x 6 : 12
                         2 x 7 : 14
                         2 x 8 : 16
                         2 x 9 : 18
                        2 x 10 : 20
                        2 x 11 : 22
                        2 x 12 : 24
                        2 x 13 : 26
                        2 x 14 : 28
                        2 x 15 : 30
                        2 x 16 : 32
                        2 x 17 : 34
                        2 x 18 : 36
                        2 x 19 : 38
                        2 x 20 : 40


=============Tabla de multiplical del número 3==============
                         3 x 1 : 3
                         3 x 2 : 6
                         3 x 3 : 9
                         3 x 4 : 12
                         3 x 5 : 15
                         3 x 6 : 18
                         3 x 7 : 21
                         3 x 8 : 24
                         3 x 9 : 27
                        3 x 10 : 30
                        3 x 11 : 33
                        3 x 12 : 36
                        3 x 13 : 39
                        3 x 14 : 42
                        3 x 15 : 45
                        3 x 16 : 48
                        3 x 17 : 51
                        3 x 18 : 54
                        3 x 19 : 57
                        3 x 20 : 60


=============Tabla de multiplical del número 4==============
                         4 x 1 : 4
                         4 x 2 : 8
                         4 x 3 : 12
                         4 x 4 : 16
                         4 x 5 : 20
                         4 x 6 : 24
                         4 x 7 : 28
                         4 x 8 : 32
                         4 x 9 : 36
                        4 x 10 : 40
                        4 x 11 : 44
                        4 x 12 : 48
                        4 x 13 : 52
                        4 x 14 : 56
                        4 x 15 : 60
                        4 x 16 : 64
                        4 x 17 : 68
                        4 x 18 : 72
                        4 x 19 : 76
                        4 x 20 : 80


=============Tabla de multiplical del número 5==============
                         5 x 1 : 5
                         5 x 2 : 10
                         5 x 3 : 15
                         5 x 4 : 20
                         5 x 5 : 25
                         5 x 6 : 30
                         5 x 7 : 35
                         5 x 8 : 40
                         5 x 9 : 45
                        5 x 10 : 50
                        5 x 11 : 55
                        5 x 12 : 60
                        5 x 13 : 65
                        5 x 14 : 70
                        5 x 15 : 75
                        5 x 16 : 80
                        5 x 17 : 85
                        5 x 18 : 90
                        5 x 19 : 95
                        5 x 20 : 100


=============Tabla de multiplical del número 6==============
                         6 x 1 : 6
                         6 x 2 : 12
                         6 x 3 : 18
                         6 x 4 : 24
                         6 x 5 : 30
                         6 x 6 : 36
                         6 x 7 : 42
                         6 x 8 : 48
                         6 x 9 : 54
                        6 x 10 : 60
                        6 x 11 : 66
                        6 x 12 : 72
                        6 x 13 : 78
                        6 x 14 : 84
                        6 x 15 : 90
                        6 x 16 : 96
                        6 x 17 : 102
                        6 x 18 : 108
                        6 x 19 : 114
                        6 x 20 : 120


=============Tabla de multiplical del número 7==============
                         7 x 1 : 7
                         7 x 2 : 14
                         7 x 3 : 21
                         7 x 4 : 28
                         7 x 5 : 35
                         7 x 6 : 42
                         7 x 7 : 49
                         7 x 8 : 56
                         7 x 9 : 63
                        7 x 10 : 70
                        7 x 11 : 77
                        7 x 12 : 84
                        7 x 13 : 91
                        7 x 14 : 98
                        7 x 15 : 105
                        7 x 16 : 112
                        7 x 17 : 119
                        7 x 18 : 126
                        7 x 19 : 133
                        7 x 20 : 140


=============Tabla de multiplical del número 8==============
                         8 x 1 : 8
                         8 x 2 : 16
                         8 x 3 : 24
                         8 x 4 : 32
                         8 x 5 : 40
                         8 x 6 : 48
                         8 x 7 : 56
                         8 x 8 : 64
                         8 x 9 : 72
                        8 x 10 : 80
                        8 x 11 : 88
                        8 x 12 : 96
                        8 x 13 : 104
                        8 x 14 : 112
                        8 x 15 : 120
                        8 x 16 : 128
                        8 x 17 : 136
                        8 x 18 : 144
                        8 x 19 : 152
                        8 x 20 : 160


=============Tabla de multiplical del número 9==============
                         9 x 1 : 9
                         9 x 2 : 18
                         9 x 3 : 27
                         9 x 4 : 36
                         9 x 5 : 45
                         9 x 6 : 54
                         9 x 7 : 63
                         9 x 8 : 72
                         9 x 9 : 81
                        9 x 10 : 90
                        9 x 11 : 99
                        9 x 12 : 108
                        9 x 13 : 117
                        9 x 14 : 126
                        9 x 15 : 135
                        9 x 16 : 144
                        9 x 17 : 153
                        9 x 18 : 162
                        9 x 19 : 171
                        9 x 20 : 180


=============Tabla de multiplical del número 10=============
                        10 x 1 : 10
                        10 x 2 : 20
                        10 x 3 : 30
                        10 x 4 : 40
                        10 x 5 : 50
                        10 x 6 : 60
                        10 x 7 : 70
                        10 x 8 : 80
                        10 x 9 : 90
                       10 x 10 : 100
                       10 x 11 : 110
                       10 x 12 : 120
                       10 x 13 : 130
                       10 x 14 : 140
                       10 x 15 : 150
                       10 x 16 : 160
                       10 x 17 : 170
                       10 x 18 : 180
                       10 x 19 : 190
                       10 x 20 : 200